# Default ignored files
/../../../../../../../../../../../../:AstralJobsPlus/.idea/shelf/
/../../../../../../../../../../../../:AstralJobsPlus/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../../../:AstralJobsPlus/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../../../../:AstralJobsPlus/.idea/dataSources/
/../../../../../../../../../../../../:AstralJobsPlus/.idea/dataSources.local.xml
